.mb100_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .mb100_wrapper .image {
    width: 40%;
    float: left; }
    .mb100_wrapper .image img {
      width: 90%; }
  .mb100_wrapper .timer {
    width: 60%;
    float: left;
    padding: 0px; }

.mb100_timer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 10px; }
  .mb100_timer p {
    width: 145px;
    text-transform: capitalize;
    color: red;
    font-size: 20px;
    line-height: 40px;
    margin: 0; }
    .mb100_timer p:first-child {
      width: 143px; }
    .mb100_timer p:nth-child(2) {
      width: 140px; }
    .mb100_timer p:nth-child(3) {
      width: 140px; }

.mb100_timer_wrapper {
  color: #FFF;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 72px;
  font-weight: bold;
  line-height: 80px;
  height: 80px; }
  .mb100_timer_wrapper p {
    margin: 0;
    display: block;
    text-transform: capitalize;
    color: red;
    font-size: 20px;
    line-height: 40px; }
  .mb100_timer_wrapper .seperator {
    vertical-align: top;
    margin: 0 -20px;
    display: inline; }
  .mb100_timer_wrapper .seconds,
  .mb100_timer_wrapper .minutes,
  .mb100_timer_wrapper .hours,
  .mb100_timer_wrapper .days {
    height: 100%;
    display: inline; }
  .mb100_timer_wrapper .digit-set {
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    border: 1px solid #15a03d;
    width: 56px;
    height: 100%;
    display: inline-block;
    position: relative;
    margin: 0 1px; }
  .mb100_timer_wrapper .digit {
    position: absolute;
    height: 100%; }
    .mb100_timer_wrapper .digit > div {
      position: absolute;
      left: 0;
      overflow: hidden;
      height: 50%;
      padding: 0 8px; }
      .mb100_timer_wrapper .digit > div.digit-top, .mb100_timer_wrapper .digit > div.shadow-top {
        background-color: #15a03d;
        border-bottom: 1px solid #15a03d;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        top: 0;
        z-index: 0;
        border-radius: 8px 8px 0 0; }
        .mb100_timer_wrapper .digit > div.digit-top:before, .mb100_timer_wrapper .digit > div.shadow-top:before {
          content: "";
          -webkit-box-shadow: inset 0 10px 25px rgba(0, 0, 0, 0.4);
                  box-shadow: inset 0 10px 25px rgba(0, 0, 0, 0.4);
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0; }
      .mb100_timer_wrapper .digit > div.shadow-top {
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0)), to(#000));
        width: 56px;
        opacity: 0;
        -webkit-transition: opacity 0.3s ease-in; }
      .mb100_timer_wrapper .digit > div.digit-bottom, .mb100_timer_wrapper .digit > div.shadow-bottom {
        background-color: #15a03d;
        bottom: 0;
        z-index: 0;
        border-radius: 0 0 8px 8px; }
        .mb100_timer_wrapper .digit > div.digit-bottom .digit-wrap, .mb100_timer_wrapper .digit > div.shadow-bottom .digit-wrap {
          display: block;
          margin-top: -100%; }
        .mb100_timer_wrapper .digit > div.digit-bottom:before, .mb100_timer_wrapper .digit > div.shadow-bottom:before {
          content: "";
          -webkit-box-shadow: inset 0 10px 25px rgba(0, 0, 0, 0.3);
                  box-shadow: inset 0 10px 25px rgba(0, 0, 0, 0.3);
          border-radius: 0 0 8px 8px;
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0; }
      .mb100_timer_wrapper .digit > div.shadow-bottom {
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(rgba(0, 0, 0, 0)));
        width: 40px;
        opacity: 0;
        -webkit-transition: opacity 0.3s ease-in; }
    .mb100_timer_wrapper .digit.previous .digit-top,
    .mb100_timer_wrapper .digit.previous .shadow-top {
      opacity: 1;
      z-index: 2;
      -webkit-transform-origin: 50% 100%;
      -webkit-animation: flipTop 0.3s ease-in both;
      -moz-transform-origin: 50% 100%;
      -moz-animation: flipTop 0.3s ease-in both;
      -ms-transform-origin: 50% 100%;
      -ms-animation: flipTop 0.3s ease-in both;
      transform-origin: 50% 100%;
      animation: flipTop 0.3s ease-in both; }
    .mb100_timer_wrapper .digit.previous .digit-bottom,
    .mb100_timer_wrapper .digit.previous .shadow-bottom {
      z-index: 1;
      opacity: 1; }
    .mb100_timer_wrapper .digit.active .digit-top {
      z-index: 1; }
    .mb100_timer_wrapper .digit.active .digit-bottom {
      z-index: 2;
      -webkit-transform-origin: 50% 0%;
      -webkit-animation: flipBottom 0.3s 0.3s ease-out both;
      -moz-transform-origin: 50% 0%;
      -moz-animation: flipBottom 0.3s 0.3s ease-out both;
      -ms-transform-origin: 50% 0%;
      -ms-animation: flipBottom 0.3s 0.3s ease-out both;
      transform-origin: 50% 0%;
      animation: flipBottom 0.3s 0.3s ease-out both; }

@-webkit-keyframes flipTop {
  0% {
    -webkit-transform: perspective(320px) rotateX(0deg); }
  100% {
    -webkit-transform: perspective(320px) rotateX(-90deg); } }
@-webkit-keyframes flipBottom {
  0% {
    -webkit-transform: perspective(320px) rotateX(90deg); }
  100% {
    -webkit-transform: perspective(320px) rotateX(0deg); } }

/*# sourceMappingURL=counter.css.map */